:root {
    --fields-margin-bottom: 20px;
    --last-address-field-margin-bottom: var(--fields-margin-bottom);
}

.field.street {
    margin: 0
}

.field.street > legend.label {
    display: none;
}

.field.street .control .field {
    margin: 0 0 var(--fields-margin-bottom) !important;
}

.field.street .control .field:last-of-type {
    margin-bottom: var(--last-address-field-margin-bottom) !important;
}

.field.street .control .field label {
    display: inline-block;
    position: relative;
    margin: 0 0 .5rem;
    width: auto;
    height: auto;
    overflow: unset;
}

.field.street .control .field._required label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
